body {

}

.poster {
  background-image: url(img/watchmen_amodif.jpg);
  background-position: center;
  background-size: cover;
  width: 640px;/*temp*/
  height: 900px;/*temp*/
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

h1 {
  color: yellow;

}

.credit {
  font-family: sf_movie_posterregular;
  color: #fff;
}

@font-face {
    font-family: 'sf_movie_posterregular';
    src: url('sfmovieposter_FILES/sf_movie_poster-webfont.eot');
    src: url('sfmovieposter_FILES/sf_movie_poster-webfont.eot?#iefix') format('embedded-opentype'),
         url('sfmovieposter_FILES/sf_movie_poster-webfont.woff2') format('woff2'),
         url('sfmovieposter_FILES/sf_movie_poster-webfont.woff') format('woff'),
         url('sfmovieposter_FILES/sf_movie_poster-webfont.ttf') format('truetype'),
         url('sfmovieposter_FILES/sf_movie_poster-webfont.svg#sf_movie_posterregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
